.navbar{
  background-color: rgba(84, 214, 109, 0.67);
}
#conteudoNavbarSuportado {
  display: flex;
  justify-content: flex-end !important;
}

.imgUsuario {
  height: 50px;
}

.imgbanner {
  height: 500px;
  object-fit: cover;
}
.imgcard {
  height: 150px;
  object-fit: cover;
}
